<a href="{{router.url_for('@manageTransactions')}}" class="g-button{% if actionsMenu == 'withdraw' %} g-button-share{% endif %} ajax-link">Withdraw requests</a>
<a href="{{router.url_for('@manageTransactionsMATA')}}" class="g-button{% if actionsMenu == 'deposit' %} g-button-share{% endif %} ajax-link">Deposit requests</a>
