{% import "/forms/forms.twig" as forms %}

{% if form.errors %}
    <br /><div class="error_box"><strong>There were errors - please verify all fields for errors</strong></div>
{% endif %}
{% if form.success %}
<div class="infotip"><strong>Success</strong><br /><br />Level added successfully</div>
{% endif %}
<form enctype="application/x-www-form-urlencoded" action="{{router.url_for('@manageCommissions?ac=add_level')}}" method="post">
    <div class="form-global clearfix">
        <div class="label"><label for="commission">Commission:</label></div>
        <div class="input input_big">
            {{ forms.input('commission', form.values.commission) }}
            {{ forms.errors(form.errors.commission) }}
        </div>
    </div>
    <div class="form-global clearfix">
        <div class="label"><label>&nbsp;</label></div>
        <div class="left"><input type="submit" class="g-button g-button-submit modal-ajax-submit" value="Add" /></div>
    </div>
</form>

