{% extends app.ajax ? "layouts/ajax.twig" :  "layouts/layout.twig" %}
{% import "/forms/forms.twig" as forms %}

{% block content_page %}
{% if app.user %}
{% if form.errors %}
    <div class="error_box"><strong>There were errors - please verify all fields for errors</strong></div>
{% endif %}
{% if form.success %}
    <div class="infotip"><strong>Success</strong><br /><br />Questions added successfully</div>
{% endif %}
<form enctype="application/x-www-form-urlencoded" action="/{{product.User.username}}/{{product.slug}}.html?tab=add" method="post">
    <div class="form-global clearfix">
        <div class="clearfix">
        <div class="label"><label for="question">Question:</label></div>
        </div>
        <div class="clearfix">
        <div class="input input_2">
            {{ forms.textarea('question', form.values.question) }}
            {{ forms.errors(form.errors.question) }}
        </div>
        </div>
    </div>
    <div class="form-global clearfix">
        <div class=" label label_big"><label>&nbsp;</label></div>
        <div class="left"><input type="submit" class="g-button g-button-submit modal-submit" value="Add" /></div>
    </div>
</form>
{% else %}        
    You need to be logged in
{% endif %}
{% endblock content_page %}